.img {
    width: 100%;
    height: auto;
   }
.img-edit{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.ActC-shered{
    color: #a1a1a1;
}
   
   @media screen and (max-width: 768px) {
     .img {
       width: 100%;
       height: 200px;
      }
   }