.edit-profile {
	background: var(--black);
	background: center / contain no-repeat url("../../images/header-purple.png");
	backdrop-filter: blur(0.5rem);
	height: 100vh;
	width: 100vw;
	position: absolute;
}
.edit-profile-card {
	background: var(--black-a);
	width: 95%;
	backdrop-filter: blur(0.3rem);
	z-index: 2;
}

.weekly-goal-title {
	color: var(--yellow);
}
